
$text-color: rgb(75, 73, 73);
$bg-color: rgb(200, 214, 243);
$container: 90%;
$bg-color-secondary: white;
$border-color: rgb(224, 221, 221);
$text-color-cards: rgb(51, 50, 50);
$button-danger-color: rgb(243, 73, 107);
$button-danger-text-color: white;
$button-danger-border: 0px;
$main-font-bold: Raleway-Bold;
$main-font-light: Raleway-Light;
