@import './vars.scss';
@import '../../../node_modules/bulma/css/bulma.css';

.mild-shadow {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(179, 175, 179, 0.53);
    -moz-box-shadow: 3px 3px 5px 0px rgba(179, 175, 179, 0.53);
    box-shadow: 3px 3px 5px 0px rgba(179, 175, 179, 0.53);
}

.mild-border {
    border: 1px solid rgb(224, 221, 221);
}

.minor-header {
    font-size: 0.7rem;
  }
  
  .summary-standout {
    font-size: 1.3rem;
  }
  
  .secondary-header {
    font-size: 0.9rem;
  }

@font-face {
    font-family: "Pacifico";
    src: url("./fonts/Pacifico-Regular.ttf") 
  }

  @font-face {
      font-family: "Raleway-Bold";
      src: url("./fonts/Raleway-Bold.ttf");
  }

  @font-face {
      font-family: "Raleway-Light";
      src: url("./fonts/Raleway-Light.ttf")
  }

  @font-face {
    font-family: "Cookie";
    src: url("./fonts/Cookie/Cookie-Regular.ttf") 
  }

  @font-face {
    font-family: "Courgette";
    src: url("./fonts/Courgette/Courgette-Regular.ttf") 
  }

  @font-face {
    font-family: "DancingScript";
    src: url("./fonts/Dancing_Script/DancingScript-Regular.ttf") 
  }

  @font-face {
    font-family: "Gloria";
    src: url("./fonts/Gloria_Hallelujah/GloriaHallelujah.ttf") 
  }

  @font-face {
    font-family: "Handlee";
    src: url("./fonts/Handlee/Handlee-Regular.ttf") 
  }

  @font-face {
    font-family: "PatrickHand";
    src: url("./fonts/Patrick_Hand/PatrickHand-Regular.ttf") 
  }

body, html{
    margin: 0;
    padding: 0;
    color: $text-color;
}

.logos {
    font-size: 2.2rem;
}

.logo {
    font-family:  Pacifico;
}

.cookie-font {
    font-family:  Cookie;
}

.courgette-font {
    font-family:  Courgette;
}

.dancing-font {
    font-family:  DancingScript;
}

.gloria-font {
    font-family:  Gloria;
}

.handlee-font {
    font-family:  Handlee;
}

.patrick-font {
    font-family:  PatrickHand;
}
